/* Error: Undefined mixin.
 *    ,
 * 41 | / @include respond(tab-port) {
 * 42 | |     .header {
 * 43 | |         nav {
 * 44 | |             display: none;
 * 45 | |         }
 * 46 | |     }
 * 47 | \ }
 *    '
 *   css\sass\layout\_header.scss 41:1  @use
 *   css\sass\main.scss 22:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 41 \2502  \250c  @include respond(tab-port) {\a 42 \2502  \2502      .header {\a 43 \2502  \2502          nav {\a 44 \2502  \2502              display: none;\a 45 \2502  \2502          }\a 46 \2502  \2502      }\a 47 \2502  \2514  }\a    \2575 \a   css\\sass\\layout\\_header.scss 41:1  @use\a   css\\sass\\main.scss 22:1            root stylesheet";
}
