@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75rem) {
			@content;
		}
	}

	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 122.5em) {
			@content;
		}
	}
}
button {
	font-weight: light;
	box-shadow: var(--shadow-1);
	padding: var(--size-2) var(--size-2);
	font-size: 0.8rem;

	@include respond(tab-port) {
		padding: var(--size-3) var(--size-2);
	}
}

.btn {
	cursor: pointer;
	border: none;
	background-color: var(--orange-6);
	background-color: #0a84ff;
	color: white;
	border-radius: var(--radius-2);

	&:hover {
		background-color: var(#0a84ffab);
	}

	&__control {
		width: 100%;
		display: flex;
		color: white;

		button {
			border-bottom: none;
			font-size: 1.2rem;
			color: var(--heading-clr);
		}

		&--signup {
			width: 100%;
			border: none;
			background-color: var(--control-btn-clr);
			box-shadow: none;
		}

		&--login {
			width: 100%;
			border: none;
			background-color: transparent;
			box-shadow: none;
		}
	}

	@include respond(tab-port) {
		&__form {
			&--row {
				flex-direction: column;
			}
		}
	}
}

.signup__btn {
	background-color: var(--orange-6);
	color: white;
	padding: 0.5rem 0.8rem;
	text-shadow: 0 1px 0 var(--orange-6);
	text-transform: capitalize;
	border-radius: var(--radius-2);

	&:hover {
		background-color: var(--orange-5);
	}
}

.hero__btn {
	padding: var(--size-2) var(--size-3);
	border: none;
	cursor: pointer;
	border-top-right-radius: var(--size-1);
	border-bottom-right-radius: var(--size-1);
	background-color: transparent;
	transform: translateX(-20px);
	color: white;
	font-size: 0.85rem;
	font-weight: bold;

	@include respond(tab-port) {
		&__form {
			&--row {
				flex-direction: column;
			}
		}
	}
}

.slide--btns {
	.btn {
		background-color: transparent;
		color: var(--orange-6);

		&:hover {
			color: var(--orange-5);
		}
	}
}
