@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75rem) {
			@content;
		}
	}

	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 122.5em) {
			@content;
		}
	}
}
/* form design | starts here */
.form {
	&__row {
		margin-block: var(--size-3);
		display: flex;
		flex-direction: column;
		gap: 10px;

		&--container {
			display: flex;
			justify-content: space-between;
			gap: 20px;
		}

		input,
		textarea,
		select {
			padding: var(--size-3);
			border: var(--border-size-1) solid var(--gray-1);
			outline: none;
			box-shadow: var(--shadow-2);
			border-radius: var(--radius-2);

			&:focus {
				outline: 1px solid var(--gray-8);
			}
		}

		input,
		textarea {
			width: 100%;
		}

		&--label {
			margin-bottom: var(--size-2);
			font-size: var(--font-size-2);
			background-color: transparent;
			width: max-content;
			color: var(--gray-8);
		}

		&--image {
			border-radius: 50%;
			overflow: hidden;
			border: 2px solid var(--border-clr);
			cursor: pointer;
			align-self: flex-start;
			width: 50px;
			background-position: center;

			img {
				width: 100%;
				aspect-ratio: 10 / 9;
				object-fit: cover;
			}
		}

		&--img {
			background-color: white;
		}

		&--imgCurrent {
			width: 50%;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;

		&--row {
			display: flex;
		}
	}
	@include respond(tab-port) {
		&__row {
			gap: 0;
			&--container {
				flex-direction: column;
				gap: 10px;
			}
		}
	}
}

/* form design end here */
