@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75rem) {
			@content;
		}
	}

	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 122.5em) {
			@content;
		}
	}
}
.navigation {
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--bg-admin-nav);

		&--item {
			font-size: 1.6rem;
			text-align: center;
			border-top: 3px solid transparent;
			padding: 2rem;

			a {
				padding: 1rem;
				color: var(--gray-7);
				text-transform: capitalize;
			}

			&:hover {
				background-color: var(--hover-bg);
				cursor: pointer;
			}
		}
	}

	&__secondary {
		padding-block: var(--size-4);
		box-shadow: var(--shadow-1);
		border-bottom: var(--border-size-1) solid var(--gray-5);

		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;

			li {
				display: flex;
				justify-content: center;
				align-items: center;
				list-style: none;
				gap: 10px;
				border-right: var(--border-size-1) solid var(--gray-5);
				padding-inline: 1rem;

				&:is(:last-child) {
					border: none;
				}

				a {
					text-decoration: none;
					font-size: 1rem;
				}
			}
		}
	}

	@include respond(tab-port) {
		&__secondary {
			display: none;
		}
	}
}
