*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--gray-1);
	width: 100%;
}

article {
	background-color: white;
}

a {
	text-transform: capitalize;
}

input,
textarea {
	&:active,
	&:focus {
		outline: 2px solid var(--orange-6);
		box-shadow: var(--shadow-9);
	}
}
