html {
	font-size: 100%;

	@media (min-width: 600px) {
		font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
	}

	@media (min-width: 1000px) {
		font-size: calc(137.5%);
	}

	--text-1: var(--gray-9);
	--text-2: var(--gray-7);

	@media (--OSdark) {
		--text-1: var(--gray-1);
		--text-2: var(--gray-2);
	}
}

body {
	font-size: 1rem;
	letter-spacing: 1.5px;
	font-size: var(--font-size-fluid-1);
	line-height: 1.1;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

p {
	font-size: 1rem;
	opacity: .7;
}
