.about {
	height: 80vh;
	position: relative;
	z-index: 1;
	overflow: hidden;

	h1,
	p {
		width: 80%;
	}

	h1 {
		margin-bottom: 1rem;
	}

	&__image {
		height: 80vh;
		background-image: url(../images/hero.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-blend-mode: darken;
		// filter: blur(1px);
		// -webkit-filter: blur(1px);
	}

	&__text {
		background-color: var(--overlay-color);
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
		height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		text-align: center;
	}
}
