.book {
	margin-inline: var(--size-9);
	margin-block: var(--size-9);

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		gap: 20px;
		row-gap: 55px;

		article {
			display: flex;
			border: 1px solid var(--border);
			box-shadow: var(--shadow-0);
			border-radius: var(--radius-2);
			padding: 0.8rem;
			gap: 20px;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__image {
		border: var(--shadow-4);
		transform: translateY(-50px);
		box-shadow: var(--shadow-3);
		height: 120%;
		overflow: hidden;
		cursor: pointer;
		width: 700px;

		img {
			width: 100%;
			aspect-ratio: 10/ 9;
			inset: 0;
			inline-size: 100%;
			height: 100%;
			transition: all 0.3s ease-in-out;

			&:hover {
				transform: scale(1.2);
			}
		}
	}

	&__author {
		font-size: 0.8rem;
	}

	&__more {
		text-align: center;
		margin-top: var(--size-4);
		transition: all 0.3s ease-in-out;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&--title {
		text-transform: uppercase;
		margin-bottom: var(--size-7);
	}

	&__title {
		text-transform: capitalize;
		font-size: var(--size-3);
		opacity: 0.8;
	}

	&__text {
		font-size: 0.8rem;
	}

	&__download {
		font-size: 1rem;
	}
}
