.book {
	margin-inline: var(--size-9);
	margin-block: var(--size-9);

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		gap: 20px;
		row-gap: 55px;

		article {
			display: flex;
			// overflow: hidden;
			border: 1px solid var(--border);
			box-shadow: var(--shadow-0);
			border-radius: var(--radius-2);
			padding: 0.8rem;
			gap: 20px;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 4000px;
	}

	&__image {
		border: var(--shadow-4);
		width: 2000px;
		transform: translateY(-50px);
		box-shadow: var(--shadow-0);

		img {
			width: 100%;
		}
	}

	&__author {
		font-size: 1.2rem;
	}

	&__description {
		font-size: var(--font-size-fluid-0);
	}

	&__more {
		text-align: center;
		margin-top: var(--size-4);
		transition: all .3s ease-in-out;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__title {
		margin-bottom: var(--size-4);
	}

	&__text {
		font-size: var(--font-size-1);
	}
}
