@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75rem) {
			@content;
		}
	}

	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 122.5em) {
			@content;
		}
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: Max(var(--size-2), var(--size-4)) Max(var(--size-6), var(--size-8));
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999999999999;

	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		font-size: var(--size-3);
	}

	.cta {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		font-size: var(--size-3);
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
		color: white;
		border-bottom: 1px solid transparent;
		transition: all 0.2s ease-in-out;

		&:hover {
			color: var(--clr-primary);
		}
	}

	@include respond(tab-port) {
		nav {
			display: none;
			position: fixed;
			flex-direction: column;
			top: 0;
			bottom: 0;
			left: 40%;
			background-color: var(--gray-1);
			height: 100vh;
			width: 100%;
			border-left: 1px solid rgba(128, 128, 128, 0.222);
			box-shadow: var(--shadow-2);
			padding-top: var(--size-9);
			padding-left: var(--size-6);
			justify-content: start;
			align-items: flex-start;
			z-index: 99999;

			a {
				color: var(--gray-7);
				justify-content: start;
				align-items: flex-start;

				&:hover {
					color: var(--orange-9);
				}
			}
		}

		.cta {
			display: none;
			position: absolute;
			flex-direction: column;
			top: 180px;
			bottom: 0;
			left: 40%;
			height: 100vh;
			width: 100%;
			z-index: 999999999;
			justify-content: start;
			align-items: flex-start;
			padding-left: var(--size-6);

			.login__btn {
				color: var(--gray-7);

				&:hover {
					color: var(--orange-9);
				}
			}

			a {
				color: white;
			}
		}
	}
}

.scroll {
	background-color: var(--gray-1);
	border-bottom: 1px solid rgba(128, 128, 128, 0.222);
	z-index: 999;

	nav {
		a {
			color: var(--gray-7);
		}
	}

	h1 {
		color: var(--gray-7);
	}

	.login__btn {
		color: var(--orange-9);
	}
}
