.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem var(--size-4);
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999999999999;

	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		font-size: 1rem;
	}

	.cta {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		font-size: 0.8rem;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
		color: white;
		border-bottom: 1px solid transparent;
		transition: all 0.2s ease-in-out;

		&:hover {
			color: var(--clr-primary);
		}
	}
}

@include respond(tab-port) {
	.header {
		nav {
			display: none;
		}
	}
}

.scroll {
	background-color: var(--gray-1);
	border-bottom: 1px solid rgba(128, 128, 128, 0.222);
	z-index: 999;

	nav {
		a {
			color: var(--gray-7);
		}
	}

	h1 {
		color: var(--gray-7);
	}

	.login__btn {
		color: var(--orange-9);
	}
}
