@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75rem) {
			@content;
		}
	}

	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 122.5em) {
			@content;
		}
	}
}
.hero {
	height: 80vh;
	color: white;
	position: relative;

	&__image {
		height: 80vh;
		background-image: url(../images/hero.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-blend-mode: darken;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__main {
		background-color: var(--overlay-color);
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
		height: 80vh;
	}

	&__heading {
		font-size: 2rem;
	}

	&__search {
		width: Max(400px, 100%);
		padding: var(--size-3) var(--size-3);
		display: flex;
		border: none;
		border-radius: var(--size-1);
	}

	&__paragraph {
		font-size: 0.8rem;
	}

	@include respond(tab-port) {
		&__container {
			width: 80%;
		}

		&__search {
			flex-direction: column;
			gap: 20px;

			input {
				width: 100%;
				border: none;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-radius: var(--size-1);
				padding: var(--size-3) var(--size-3);
			}
		}
	}
}
