.hero {
	height: 80vh;
	color: white;
	position: relative;

	&__image {
		height: 80vh;
		background-image: url(../images/hero.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-blend-mode: darken;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__main {
		background-color: rgba(0, 0, 0, 0.697);
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
		height: 80vh;
	}

	&__heading {
		font-size: 2rem;
	}

	&__search {
		width: 500px;
		padding: var(--size-2) var(--size-3);
	}

	&__search {
		display: flex;
		border-top-left-radius: var(--size-1);
		border-bottom-left-radius: var(--size-1);
	}

	&__paragraph {
		font-size: 0.8rem;
	}
}
