@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75rem) {
			@content;
		}
	}

	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 122.5em) {
			@content;
		}
	}
}
/* Admin page styling | starts here */
.admin {
	&__user {
		position: relative;

		&--cta {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 5px;

			select {
				border: none;
				background-color: white;
				cursor: pointer;
				color: var(--clr-primary);
				font-size: 1.6rem;
			}
		}

		&--btn {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 2px;
			border: none;
			background-color: transparent;
			margin-left: auto;
			color: var(--orange-9);
			padding: 0.5rem;
			background-color: blue;

			em {
				cursor: pointer;
			}
		}
	}

	&__link {
		a {
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 600;
		}
	}

	&__header {
		padding: var(--size-3) var(--size-3);
		width: 100%;
		margin-inline: 0;
		border-bottom: var(--border-size-1) solid var(--gray-1);
		background-color: white;

		a {
			color: var(--orange-9);
		}
	}

	&__primary {
		padding-block: var(--size-1);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: var(--size-1);
		background-color: var(--white-clr);
		width: 100%;
	}

	&__secondary {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: var(--body-margin-inline);
		border-bottom: 1px solid var(--border-clr);
	}

	&__wrapper {
		position: relative;
		display: flex;
	}

	&__container {
		position: absolute;
		right: 0;
		left: 100px;
		display: flex;
		flex-direction: column;
		flex: 1;

		nav {
			position: relative;
		}
	}

	// Admin sidebar navigation | starts here
	&__nav {
		position: fixed;
		top: 0;
		width: 100px;
		height: 100vh;
		background-color: var(--gray-6);

		&--wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&--item {
			padding: 1rem 1.5rem;
			border-bottom: 1px solid var(--bg-light-clr);
			cursor: pointer;
			font-size: var(--size-3);
			color: white;

			a {
				color: var(--clr-compilment-text);
			}

			&:first-child {
				border-top: 1px solid var(--bg-light-clr);
				box-sizing: var(--shadow-1);
			}

			&:hover {
				border-left: 5px solid var(--clr-compilment-text);
				background-color: var(--clr-primary--hover);
				filter: brightness(100%);
				color: var(--white-clr);
				transition: all 0.2s ease-in-out;
			}
		}
	}
	// Admin sidebar navigation | ends here

	&__content {
		margin-top: var(--size-3);
		margin-bottom: var(--size-3);
		margin-inline: var(--size-5);

		h1 {
			margin-block: var(--size-4);
			color: var(--clr-secondary);
			font-size: var(--font-size-5);
		}

		&--heading {
			// display: flex;
			// align-items: center;
			gap: 10px;
			opacity: 0.8;
			font-weight: lighter;
		}

		&--user {
			img {
				width: 50px;
				border-radius: 50%;

				&:hover {
					cursor: pointer;
					border: 1px solid var(--clr-body);
				}
			}
		}
	}

	&__link {
		a {
			background-color: var(--clr-primary);
			padding: 1rem 2rem;
			color: var(--white-clr);
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
		gap: 20px;
		margin-bottom: var(--size-3);
	}

	&__card {
		text-align: center;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		border-radius: var(--radius-2);
		border: var(--border-size-1) solid var(--gray-1);
		padding: var(--size-6);
		box-shadow: var(--shadow-2);
		border: 1px solid var(--gray-3);

		&--icon {
			font-size: var(--size-6);
			color: rgb(196, 196, 196);

			i {
				cursor: pointer;
			}
		}

		&:not(:last-child) {
			border-right: 1px solid var(--border-clr);
		}

		&--num {
			margin-block: var(--size-3);
			font-size: var(--size-7);
			color: var(--orange-7);
			font-weight: bold;
		}

		&--heading {
			font-size: var(--size-3);
		}
	}

	// dashboard table | admin table
	&__table {
		&--heading {
			display: flex;
			align-items: center;
			position: relative;

			h1 {
				font-size: var(--size-1);
				color: var(--clr-secondary);
			}
		}

		&--writters {
			border: 1px solid var(--border-clr);
			background-color: var(--white-clr);
			box-shadow: var(--shadow-1);
			border-radius: 20px;
		}
	}

	&__actions {
		width: 100%;
		padding-block: 3rem;
		padding-inline: 2rem;
		background-color: rgba(128, 128, 128, 0.07);
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-block: 1px solid var(--border-clr);
	}

	&__search {
		margin-left: auto;
		position: relative;
		width: 300px;

		&--input {
			padding-bottom: 0.5rem;
			padding-left: 1rem;
			border: none;
			border-bottom: 1px solid var(--border-clr);
			width: 100%;
			outline: none;
		}

		&--btn {
			border: none;
			background-color: transparent;
			cursor: pointer;
			position: absolute;
			transform: translateX(-15px);
		}
	}

	&__sort {
		display: flex;
		gap: 10px;
		align-items: center;

		&--performed {
			display: flex;
			margin-top: 1rem;
		}

		&--filter {
			display: flex;
			align-items: center;

			p {
				color: var(--clr-secondary);
			}
		}

		&--tag {
			margin-left: 1rem;
			font-size: 1.3rem;
			opacity: 0.8;
		}

		&--clear {
			margin-left: 1rem;
			text-decoration: none;
		}

		select {
			padding: 1rem;
			cursor: pointer;
			text-transform: capitalize;
			border: none;
			border: 1px solid var(--border-clr);
			outline: none;
			background-color: white;

			option {
				span {
					padding: 1rem;
				}
			}

			&:hover {
				outline: 1px solid var(--clr-primary--hover);
				box-shadow: var(--shadow-1);
			}
		}
	}

	&--logo {
		color: var(--orange-6);
	}

	&__humbuger {
		border-bottom: 1px solid var(--clr-compilment-text);
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 2.25rem;
		margin-bottom: 1rem;
		padding-top: 4rem;

		&--bar1,
		&--bar2,
		&--bar3 {
			display: block;
			width: 35px;
			height: 4px;
			background-color: var(--clr-compilment-text);
			margin-bottom: 4px;
			border-radius: 5px;
		}

		&--btn {
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
	}

	@include respond(tab-port) {
		&__nav {
			display: none;
		}

		&__container {
			left: 0;
		}

		&__cards {
			grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		}

		&__card {
			flex-direction: column;
			gap: 10px;
			&--icon {
				font-size: var(--size-8);
				color: rgb(196, 196, 196);

				i {
					cursor: pointer;
				}
			}
		}
	}
}
/* Admin page styling | starts here */
