@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75rem) {
			@content;
		}
	}

	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 122.5em) {
			@content;
		}
	}
}

.all_books {
	display: flex;
	padding: var(--size-9) max(var(--size-2), var(--size-6));
	margin-top: 4rem;
	gap: 40px;
	position: relative;

	.book {
		margin: 0;
		padding: 0;

		&__wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
			gap: 20px;
			row-gap: 55px;

			article {
				display: flex;
				border: 1px solid var(--border);
				box-shadow: var(--shadow-0);
				border-radius: var(--radius-2);
				padding: 0;
				gap: 10px;
			}
		}

		&__description {
			padding: var(--size-4);
		}

		&__btn {
			width: 100%;
			text-align: center;

			&--wrapper {
				display: flex;
				gap: 20px;
			}
		}

		&__image {
			border: var(--shadow-4);
			box-shadow: var(--shadow-3);
			overflow: hidden;
			cursor: pointer;
			width: 700px;
			height: 120%;

			img {
				width: 100%;
				aspect-ratio: 10/ 9;
				inset: 0;
				inline-size: 100%;
				object-fit: cover;
				height: 100%;
				transition: all 0.3s ease-in-out;

				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}

	aside {
		border: none;
		width: 1000px;

		h1 {
			margin-bottom: var(--size-5);
		}

		p {
			font-size: var(--size-6);
			opacity: 0.6;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;

			li {
				list-style: none;
				display: flex;
				align-items: center;
				border-bottom: var(--size-1) solid var(--gray-2);
				padding-bottom: var(--size-2);
				gap: 10px;

				a {
					font-size: 1rem;
					text-decoration: none;
					color: var(--color-links);
				}
			}
		}
	}

	@include respond(tab-port) {
		flex-direction: column;
	}
}
