@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75rem) {
			@content;
		}
	}

	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 122.5em) {
			@content;
		}
	}
}

.all_books {
	display: flex;
	padding: var(--size-9) max(var(--size-2), var(--size-6));
	margin-top: 2rem;
	gap: 40px;
	position: relative;

	& .book {
		padding: 0;

		&__wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
			gap: 20px;
			row-gap: 55px;

			article {
				display: flex;
				border: 1px solid var(--border);
				box-shadow: var(--shadow-0);
				border-radius: var(--radius-2);
				padding: 0.8rem;
				gap: 20px;
			}
		}

		&__description {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		&__image {
			border: var(--shadow-4);
			transform: translateY(-50px);
			box-shadow: var(--shadow-3);
			height: 120%;
			overflow: hidden;
			cursor: pointer;
			width: 700px;

			img {
				width: 100%;
				aspect-ratio: 10/ 9;
				inset: 0;
				inline-size: 100%;
				object-fit: cover;
				height: 100%;
				transition: all 0.3s ease-in-out;

				&:hover {
					transform: scale(1.2);
				}
			}
		}

		&__author {
			font-size: 0.8rem;
		}

		&__more {
			text-align: center;
			margin-top: var(--size-4);
			transition: all 0.3s ease-in-out;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&--title {
			text-transform: uppercase;
			margin-bottom: var(--size-7);
		}

		&__title {
			text-transform: capitalize;
			font-size: var(--size-3);
			opacity: 0.8;
		}

		&__text {
			font-size: 0.8rem;
		}

		&__download {
			font-size: 0.8rem;
		}
	}

	&__btn {
		width: 100%;
		text-align: center;

		&--wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
	}

	@include respond(tab-port) {
		flex-direction: column;
	}
}
