.signup {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	&__image {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 70%;
		padding: 2rem 6rem;

		background-color: var(--background-bm);

		// background-image: url("/images/124-1247377_website-development-auckland-web-development-png-images-hd.png");
		background-image: url(images/124-1247377_website-development-auckland-web-development-png-images-hd.png);
		background-blend-mode: darken;

		img {
			width: 100%;
		}
	}
}

.form {
	width: 40%;
	padding: 3rem;
	transition: all 0.2s ease-in-out;

	&--title {
		margin-block: 1.5rem;
		font-size: 2rem;
		color: var(--heading-clr);
	}

	&__wrapper {
		position: relative;
	}

	input {
		padding: 0.8rem 1rem;
		width: 100%;
		border: none;
		border: 1px solid var(--border-color);
		// border-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		outline: none;
		margin-left: -1px;

		// &:focus {
		// 	// border: 1px solid var(--input-outline-clr);
		// 	box-shadow: var(--shadow-2);
		// }

		&:active {
		}
	}

	label {
		display: none;
	}

	&__controls {
		display: flex;
	}

	&__row {
		display: flex;
		grid-auto-flow: column;
		grid-template-columns: 1fr 2fr;
		// border: 1px solid coral;
		margin-bottom: 1rem;
		width: 100%;
	}

	&__icon {
		// transform: translateX(50px);
		width: 50%;

		&--wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--icon-bg-clr);
			border: 1px solid var(--border-color);
			border-top-left-radius: var(--border-radius);
			border-bottom-left-radius: var(--border-radius);
			width: 15%;
		}

		&:focus {
			// border: 1px solid var(--input-outline-clr);
			box-shadow: var(--shadow-2);
		}
	}

	&__input {
		width: 100%;
		display: grid;
	}

	&__remember {
		display: grid;
		grid-auto-flow: column;
		justify-content: space-between;
		align-items: center;
		margin-block: 1rem;
		color: rgba(0, 0, 0, 0.505);

		&--con {
			display: grid;
			grid-auto-flow: column;
			align-items: center;

			input {
				cursor: pointer;
			}

			p {
				margin-left: 0.5rem;
				letter-spacing: 0.5px;
			}
		}
	}
}

// #signup {
// 	display: flex;
// 	flex-direction: column;
// }

// // #login {
// // 	display: flex;
// // 	flex-direction: column;
// // }

.notShown {
	display: none;
}

.forgot_password {
	font-size: 0.8rem;
	text-align: right;
	text-decoration: none;
	display: grid;

	a {
		letter-spacing: 0.5px;
		color: var(--btn-clr);
	}
}
