:root {
	--body-background: #15223819;
	--border-color: #1522382f;
	--font-color: rgba(0, 0, 0, 0.544);
	--background-hover: rgb(121, 213, 199);
	--comp-color: blue;
	--card-color: rgba(255, 255, 255, 0.119);
	// --shadow-1: 1px 2px 15px rgba(135, 135, 135, 0.133),
	// 	1px 2px 15px rgba(65, 65, 65, 0.263);
	// --shadow-2: 0px 15px 15px rgba(135, 135, 135, 0.133),
	// 	0 5px 25px rgba(65, 65, 65, 0.089);

	--background-color: var(--gray-1);
	--color-gredient: linear-gradient(to right, #8041f2, #3095ed);
	--border: rgba(0, 0, 0, 0.29);
	--modal-color: rgba(0, 0, 0, 0.023);
	--border-radius: 6px;

	// BTN PADDING
	--padding-inline: 0.5rem;
	--padding-block: 0.8rem;
	--btn-radius: 6px;
	--heading-clr: rgba(0, 0, 0, 0.629);

	// BTN color
	--btn-clr: #3095ed;
	--input-outline-clr: #3095ed36;

	--control-btn-clr: #3095ed1e;

	--clr-white: white;

	// icon background image
	--icon-bg-clr: #3095ed1e;

	// --background-bm: #7f41f248;
	--background-bm: #3095ed1e;

	// btn radius

	// used on the hero, user, and review form section
	--overlay-color: rgba(0, 0, 0, 0.793);
}

// break points 
$bp-largest: 75em; // 1200
$bp-large: 68.75em; // 1100
$bp-medium: 56.25em; // 900
$bp-small: 37.5em; // 600
$bp-smallest: 31.25em; // 500